.THIS .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.THIS.days-passed-wrapper {
	margin: 0 20px 0 10px;
	position: relative;
	color: rgb(84, 105, 141);
}

.THIS .current-status {
	color: rgb(22, 50, 92);
}

.THIS .status {
	position: relative;
	height: 25px;
	margin-top: 10px;
}
.THIS table.status-details {
    width: initial;
}
.THIS .status-details td {
    border: 1px solid rgb(216, 221, 230);
    padding: 5px;
}
.THIS .status-arrow {
    position: absolute;
    bottom: 0;
    margin-left: -1em;
    width: 2em;
    text-align: center;
    height: 0px;
}
.THIS .status-update {
	font-size: 0.8rem;
}
.THIS .status-update-container {
	position: absolute;
    width: 2em;
    margin-left: -1em;
    text-align: center;
    line-height: 2em;
    color: white;
}
.THIS .status-arrow>span {
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgb(84, 105, 141);
}



.THIS .progress {
	height: 15px;
	margin-top: 4px;
	background-color: #eee;
	border-radius: 2px;
}
.THIS .progress .progress-bar {
	float: left;
	height: 15px;
}
.THIS .progress .progress-bar-green {
	background-color: #009933;
	border-radius: 2px 0 0 2px;
}
.THIS .progress .progress-bar-yellow {
	background-color: #ffcc00;
}
.THIS .progress .progress-bar-orange {
	background-color: #ff6600;
}
.THIS .progress .progress-bar-red {
	background-color: #ff0000;
	border-radius: 0 2px 2px 0;
}

.THIS .stopped-wrapper {
	position: absolute;
}

.THIS .stopped {
	width: 30px;
	height: 30px;
	background: #ff6666;
	position: relative;
	left: -15px;
	top: -3px;
}

.THIS .stopped:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 10px solid #ff6666;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	width: 30px;
	height: 0;
}

.THIS .stopped:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 10px solid #ff6666;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	width: 30px;
	height: 0;
}


.THIS .axisMarkers {
    height: 20px;
}
.THIS .axisNumbers {
    height: 1em;
}
.THIS .axisMarker, .THIS .axisNumber {
    position:absolute;
}
.THIS .axisNumber {
    margin-left: -1.5em;
    text-align: center;
    width: 3em;    
}
.THIS .axisMarkers .majorMarker, .THIS .axisMarkers .minorMarker {
    vertical-align: top;
    box-sizing: border-box;
    border-left: 1px solid black;
    height: 15px;
}
.THIS .axisMarkers .minorMarker {
    height: 5px;
}
.THIS .axisMarker:last-of-type {
	margin-left: -1px;
}