.THIS .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.THIS.days-passed-wrapper {
	margin: 0 20px 0 10px;
	position: relative;
	color: rgb(84, 105, 141);
}

.THIS .current-status {
	color: rgb(22, 50, 92);
}

.THIS .status {
	position: relative;
	height: 25px;
	margin-top: 10px;
}
.THIS table.status-details {
    width: initial;
}
.THIS .status-details td {
    border: 1px solid rgb(216, 221, 230);
    padding: 5px;
}
.THIS .status-update-container {
	position: absolute;
	display: flex;
}
.THIS .status-update {
	position: relative;
	font-size: 0.8rem;
	left: -10px;
	width: 20px;
	text-align: center;
}
.THIS .status-update:after {
	content: "";
	bottom: -4px;
	left: 6px;
	position: absolute;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid rgb(84, 105, 141);
}


.THIS .progress {
	height: 15px;
	margin-top: 4px;
	background-color: #eee;
	border-radius: 2px;
}
.THIS .progress .progress-bar {
	float: left;
	height: 15px;
}
.THIS .progress .progress-bar-green {
	background-color: #009933;
	border-radius: 2px 0 0 2px;
}
.THIS .progress .progress-bar-yellow {
	background-color: #ffcc00;
}
.THIS .progress .progress-bar-orange {
	background-color: #ff6600;
}
.THIS .progress .progress-bar-red {
	background-color: #ff0000;
	border-radius: 0 2px 2px 0;
}


.THIS .days {
	position: relative;
    margin-top: 25px;
}
.THIS .days span {
	position: absolute;
}

.THIS .days span:nth-child(5n),
.THIS .days span:nth-child(5n-1),
.THIS .days span:nth-child(5n-2),
.THIS .days span:nth-child(5n-3) {
	text-indent: -9999px;
	display: block;
}
.THIS .days span:nth-child(26),
.THIS .days span:nth-child(41) {
	font-weight: bold;
	color: red;
}

.THIS .days span:nth-child(5n):after,
.THIS .days span:nth-child(5n-1):after,
.THIS .days span:nth-child(5n-2):after,
.THIS .days span:nth-child(5n-3):after,
.THIS .days span:nth-child(5n-4):after {
	content: "";
	display: block;
	width: 1px;
	height: 5px;
	background-color: #333;
	top: -40px;
	position: relative;
	margin-bottom: 5px;
}
.THIS .days span:nth-child(1):after,
.THIS .days span:nth-child(5n-4):after {
	height: 15px;
}

.THIS .progress-bar-lable {
	margin-top: 42px;
	font-size: 0.7rem;
	color: rgb(22, 50, 92);
}


.THIS .stopped-wrapper {
	position: absolute;
}

.THIS .stopped {
	width: 30px;
	height: 30px;
	background: #ff6666;
	position: relative;
	left: -15px;
	top: -3px;
}

.THIS .stopped:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 10px solid #ff6666;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	width: 30px;
	height: 0;
}

.THIS .stopped:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 10px solid #ff6666;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	width: 30px;
	height: 0;
}