.THIS .slds-grid {
    margin-top: -1rem;
}

.THIS .slds-grid img {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.THIS .slds-p-horizontal--medium {
    margin: 0;
    padding: 1rem;
}

.THIS .slds-box {
    transition: all 0.2s;
}

.THIS .slds-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
}

.THIS .tileLabel {
    height: 2.3em;
    line-height: 1.3;
}