<apex:page standardController="Account" recordSetVar="accounts" extensions="ApproveUserController" sidebar="false" standardStylesheets="false">
    <apex:stylesheet value="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
    <apex:stylesheet value="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <apex:includeScript value="https://code.jquery.com/jquery-1.12.4.js" />
    <apex:includeScript value="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" />
    <apex:includeScript value="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"/>
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/en-au.js" />
    
    
    <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <apex:pagemessages />
    <html>

    <head>
        <style>
            .BevRegBody{width:80%;margin-left: auto;margin-right: auto;}
            .BevRegBody h1{font-size: 23px;background: none;color: #004274;margin: 0;padding: 10px 0;}
            .BevRegBody .BevPaymentSum .item{font-size: 1.2em;font-weight: 400;color: #54698d;letter-spacing: .0625rem;}
            .BevRegBody .PaymentBtnGroup{text-align: right;margin: 15px 0;}
            .BevRegBody .PaymentBtnGroup .PaymentBtn{width: 80px;margin: 0 0 0 15px;}
            .dataTables_filter, .dataTables_length{margin: 1em 0;}
            .msgIcon {
                display: none!important
            }
            .customMessage * {
                color: #fff!important
            }
            .customMessage {
                margin: 5px 0!important;
                max-width: 1280px;
                opacity: 1!important;
                width: 100%;
                font-size: 15px;
                border: 0px;
                padding-left: 10px;
                background-color: red;
            }
            /*
            .message {
                //opacity: .1
            }   */         
        </style>
        <script>
            
            var $j = jQuery.noConflict();
            var $datatable = null;
            var nn = 7000;
            $j(document).ready(init);
            
            function init() {
                moment.locale('en-au');
                $datatable = $j('#datatable').DataTable();
                var textureEffect = '';
                //Uncomment below line for texture effect on page messages
                textureEffect = 'slds-theme--alert-texture';

                $('.warningM3').addClass('slds-notify slds-notify--toast slds-theme--warning customMessage '+textureEffect);          
                $('.confirmM3').addClass('slds-notify slds-notify--alert slds-theme--success  customMessage '+textureEffect);    
                $('.errorM3').addClass('slds-notify slds-notify--alert slds-theme--error customMessage '+textureEffect);                  
                $('.infoM3').addClass('slds-notify slds-notify--toast customMessage '+textureEffect);    

                $('.errorM3').removeClass('errorM3'); 
                $('.confirmM3').removeClass('confirmM3'); 
                $('.infoM3').removeClass('infoM3');   
                $('.warningM3').removeClass('warningM3');                 
            }

        </script>
    </head>

    <body>
        <div class="OEH BevRegBody">
            <apex:form >
            <!-- Selected Accounts Table table -->
            <div>
                <h1>Selected Accounts To Approve</h1>
                
                <table id="datatable" class="slds-table slds-table--bordered">
                    <thead>
                        <tr class="slds-text-title--caps slds-line-height--reset">
                            <th scope="col"><div class="slds-truncate">Account Name</div></th>
                            <th scope="col"><div class="slds-truncate">Email</div></th>
                            <th scope="col"><div class="slds-truncate">Mobile</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!selectedAccounts}" var="item">
                            <tr>
                                <td class="slds-truncate">{!item.acctname}</td>
                                <td class="slds-truncate">{!item.email}</td>
								<td class="slds-truncate">{!item.mobile}</td>
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div>
                <div class="slds-truncate PaymentBtnGroup" >
                    <apex:commandButton value="Approve" action="{!ApproveUsers}" styleclass="slds-button slds-button--brand PaymentBtn"/>
                    <!-- <apex:commandButton value="Reject" action="{!RejectUsers}" styleclass="slds-button slds-button--neutral PaymentBtn"/>-->
                </div>
            </div>
            </apex:form>
        </div>  
    </body>
    </html>
    
</apex:page>