/**
 * Created by junzhou on 7/6/17.
 */
.THIS .row{
    display: table;
    width: 100%;
}

.THIS .col-lg-12 {
    display: table-cell;
    vertical-align: middle;
    padding-right:20px;
    width:100%;
}